
.App{
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: cornsilk;
  font-size: 18px;
  font-weight: bold;
}

.Bulb {
  margin-top: 100px;
  text-align: center;
}

.modeBtn {
margin: 10px;
}